<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)"
	>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
	<header th:replace="includes/header :: headerFragment"></header>
	<main th:replace="${content}" >
        <!-- This is where page-specific content will go -->
    </main>

    <footer th:replace="includes/footer :: footerFragment"></footer>
    <script src="js/temp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>