<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div>
	<h3>Name: <span th:text = "${medicine.name}">Aciloc Rd</span></h3>
	<p>Qty: <span th:text="${medicine.qty}">50</span></p>
	<p>MfgLicNo: <span th:text="${medicine.mfgLicNo}">50</span></p>
	<p>BatchNo: <span th:text="${medicine.batchNo}">2145452</span></p>
	<p>mfgDate: <span th:text="${medicine.mfgDate}">25-11-2024</span></p>
	<p>expDate: <span th:text="${medicine.expDate}">25-11-2024</span></p>
	<p>price: <span th:text="${medicine.price}">1250</span></p>
</div>
</body>
</html>