<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form method="post" action="#" th:action="@{/insertCustomer}" th:object="${customer}">
		<input id="name" type="text" th:field="*{name}"  placeholder="Customer name">
		<input id="phoneNumber" type="number" th:field="*{phoneNumber}" placeholder="Phone number">
		<input id="address" type="text" th:field="*{address}" placeholder="type address here">
		<button>Generate Invoice</button>
	</form>

</body>
</html>