<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	th:replace="layouts/boilerplate :: layout(~{::div})"
	>

<body>
	<div>
		<form method="post" action="#" th:action="@{/addMedicine}" th:object="${medicine}">
			<input type="text" th:field="*{name}" placeholder="Medicine name">
			<input type="number" th:field="*{qty}" placeholder="Enter quantity">
			<input type="text" th:field="*{mfgLicNo}" placeholder="Enter manufecturer licence number">
			<input type="text" th:field="*{batchNo}" placeholder="Batch number">
			<input type="date" th:field="*{mfgDate}" placeholder="Manufecturer date">
			<input type="date" th:field="*{expDate}" placeholder="Expire date">
			<input type="number" th:field="*{price}" placeholder="Enter price">
			<button>Submit</button> 
		</form>
	</div>
</body>
</html>